#footer {
    background-color: #F6F6F6;
    >ul {
        width: 100%;
        margin: 0 auto;
        >li {
            &:first-child {
                h3 {
                    border-top: 1px solid darken(#F6F6F6, 20%);
                }
            }
            h3 {
                @include font-size($mobilePhones, $desktopsLarge, 18px, 24px);
                background-color: #F6F6F6;
                border-bottom: 1px solid darken(#F6F6F6, 20%);
                padding: 15px;
                cursor: pointer;
                img {
                    transition: all .5s ease;
                    width: 15px;
                    height: 15px;
                }
            }
            .subAccordionContent {
                height: 0px;
                overflow: hidden;
                >ul {
                    >li {
                        margin-bottom: 5px;
                        cursor: pointer;
                        transition: all .4s ease;
                        height: 60px;
                        padding: 15px;
                        background-color: $textColorWhite;
                        margin-bottom: 0;
                        border-bottom: 1px solid darken(#F6F6F6, 20%);
                        a {
                            display: inline-block;
                            @include font-size($mobilePhones, $desktopsLarge, 12px, 22px);
                            img {
                                width: 15px;
                                height: 15px;
                                margin-right: 10px;
                            }
                            .underLine {
                                display: none;
                            }
                            &:hover .underLine {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        >li.active {
            h3 {
                img {
                    transform: rotate(180deg);
                }
            }
            .subAccordionContent {
                >ul {
                    >li {}
                }
            }
        }
    }
}