#nav-bar {
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 100;
    padding: 10px 35px;
    transition: height .4s ease;
    .row {
        .left {
            width: 33.33%;
            ul {
                li {
                    float: left;
                    a {
                        padding: 10px;
                        img {
                            width: 25px;
                            height: 25px;
                            transition: opacity .4s ease;
                        }
                    }
                }
            }
        }
        .center {
            width: 33.33%;
            h1 {
                text-align: center;
                font-family: 'GlossAndBloom', 'Cabin Sketch', cursive;
                font-weight: bold;
                transition: opacity .4s ease;
            }
        }
        .right {
            width: 33.33%;
            ul {
                float: right;
                right: 0;
                margin-top: 10px;
                li {
                    float: left;
                    a {
                        padding: 10px;
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                li.line {
                    background-color: white;
                    width: .5px;
                    height: 19px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}