#productsNaviation {
    padding: 25px;
    .breadcrump {
        margin-bottom: 25px;
        ul {
            margin-bottom: 10px;
            li {
                a {
                    color: #767676;
                    text-decoration: underline;
                    @include font-size($mobilePhones, $desktopsLarge, 12px, 20px);
                }
            }
            li:last-child a {
                text-decoration: none;
            }
            li.space {
                margin: 0px 5px;
                color: #767676;
            }
        }
        p {
            color: #767676;
            @include font-size($mobilePhones, $desktopsLarge, 12px, 20px);
        }
    }
    .categories {
        margin-bottom: 25px;
        ul {
            li {
                margin: 15px 5px;
                a {
                    border: 1px solid #eee;
                    padding: 5px 15px;
                    transition: all .4s ease;
                    border-radius: 4px;
                    color: lighten($textColor, 20%);
                    @include font-size($mobilePhones, $desktopsLarge, 12px, 22px);
                    white-space: nowrap;
                }
                a.active {
                    border: 1px solid $textColor;
                    color: $textColor;
                }
                a:hover {
                    border: 1px solid $textColor;
                    color: $textColor;
                }
            }
        }
    }
    .filter {
        margin-bottom: 25px;
        .filterButton {
            padding: 10px 30px;
            border-radius: 25px;
            border: 1px solid #545454;
            background-color: #292929;
            color: $textColorWhite;
            @include font-size($mobilePhones, $desktopsLarge, 12px, 20px);
        }
    }
}