@media (max-width: $mobilePhones) {}

@media (min-width: $mobilePhones) {}

@media (min-width: $tablets) {
    #searchPage {
        .searchPageContent {
            width: 90vw;
            height: 90vh;
        }
    }
}

@media (min-width: $laptops) {
    #searchPage {
        .searchPageContent {
            width: 80vw;
            height: 80vh;
        }
    }
}

@media (min-width: $desktops) {
    #searchPage {
        .searchPageContent {
            width: 75vw;
            height: 75vh;
        }
    }
}